main{
    section {
        article{
            background-color: #e44d26;
            border-radius: 50%;
            font-size: 4.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            height: 240px;
            width: 240px;
            transition: all 0.4s ease;
            &:hover {
                cursor:pointer;
                transform: rotate(360deg);
            }
        }
    }
}